<ion-header>
</ion-header>

<ion-content color="dark">
  <div class="container">
    <div class="titulo">
      <h1>Login</h1>
    </div>

    <div class="dist">
      <ion-label>E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </div>

    <div class="dist">
      <ion-label>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </div>

    <div class="dist">
      <ion-label>Mantenha-me conectado</ion-label>
      <br>
      <ion-checkbox color="danger">
      </ion-checkbox>
    </div>



    <ion-button color="warning" expand="block" routerLink="/home">Entrar</ion-button>
    <ion-button fill="outline" color="primary" expand="block" routerLink="/cadastro">Cadastre-se</ion-button>
  </div>
</ion-content>